 <link rel="stylesheet" href="/css/default_landing.css" /> 
    <header>
        <h1>App Name<span>Team name</span></h1>
    </header>
    <div class="container">
        <h3>You're ... </h3>
        <hr>
        <div align="center">
          <%= link_to 'Therapist', user_login_path, class: 'bton' %>
           <%= link_to 'Doctor', new_host_session_path, class: 'bton' %>
                 </div>
    </div>
    <footer>
        <h1>CoderSchool</h1>
    </footer>

