<div class="col-md-10" style="padding-left:0px;">
  <span class="label label-default pull-left">
    
    <%= comment.user.name %>
    <%= user.comment.content%>


  </span>
  <%= comment.host.name %>
              <div class="comment"><%= comment.content %></div>
                  </div>
                </div>
