 <% @users.each do |user| %>
        <div class=”item”>
          <%= link_to user.name, user_path(:id => user.id) %>
          <%= link_to 'Message me!', conversations_path(recipient_id: user.id, recipient_type: user.class.name), method: 'post'%> 
        </div>
  
    <% end %>