 


    <h3>All Hosts</h3>
    <% @hosts.each do |host| %>
      <%= host.name %> <%= link_to 'Message Host', conversations_path( recipient_id: host.id, recipient_type: host.class.name), method: 'post' %>
    <% end %>