<%= form_tag users_path do %>

  <div class="form-group row">
      <label class="col-xs-2 col-form-label">Username</label>
    <input type="text" name="user[name]" class="form-control" >
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Email</label>
    <input type="email" name="user[email]" class="form-control">
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Phone Number</label>
    <input type="tel" name="user[phone_number]" class="form-control">
  </div>

  <div class="form-group row">
    <label class="col-xs-2 col-form-label">Password</label>
    <input type="password" name="user[password]" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Done</button>
<% end %>
