<h3>Reviews </h3>
<% Review.where(host_id: @host.id).each do |review| %>
  <div class="well">
    <%= review.reviewable.name %>
    <%= review.content %>
    <%= review.created_at %>
  </div>
<% end %>
